<!DOCTYPE html>
<html lang="en">
<head>



    <!-- Bootstrap CSS -->
    <link href="~/Content/Admin/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="~/Content/Admin/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="~/Content/Admin/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/Content/Admin/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="~/Content/Admin/style.css" rel="stylesheet">
    <link href="~/Content/Admin/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
    <script src="~/Scripts/Admin/html5shiv.js"></script>
    <script src="~/Scripts/Admin/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="header">
        <div class="top-header">
            <div class="container">
                <div class="logo">
                    <a href="index.html"><img src="~/images/logo.png" /></a>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()

</body>
</html>
