
@{
    ViewBag.Title = "RoomTypes";
}

<div class="blog">
    <div class="container">
        <div class="col-md-8 blog-left">
            <div class="comments-list hover14 column animated wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="500ms">
                <h3><a href="single.html">Sed ut perspiciatis unde omnis iste natus error sit volup tatem</a></h3>
                <ul>
                    <li><a href="single.html" class="bake"></a> <i>|</i></li>
                    <li><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>31 March 2016 <i>|</i></li>
                    <li><a href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>3 Comments</a> <i>|</i></li>
                    <li><a href="#"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>200 Likes</a> <i>|</i></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>James Kale</a></li>
                </ul>
                <div>
                    <figure><a href="single.html"><img src="~/images/1.jpg" alt=" " height="100%" width="100%" /></a></figure>
                </div>
                <p>
                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                    adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
                    magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
                    exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
                    consequatur.
                </p>
               
            </div>
            <div class="comments-list hover14 column animated wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="500ms">
                <h3><a href="single.html">Quis autem vel eum iure reprehe ea voluptate velit esse quam nihi</a></h3>
                <ul>
                    <li><a href="single.html" class="bake"></a> <i>|</i></li>
                    <li><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>31 March 2016 <i>|</i></li>
                    <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="single.html">3 Comments</a> <i>|</i></li>
                    <li><a href="single.html"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>200 Likes</a> <i>|</i></li>
                    <li><a href="single.html"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>James Kale</a></li>
                </ul>
                <div>
                    <figure><a href="single.html"><img src="~/images/2.jpg" alt=" " height="100%" width="100%" /></a></figure>
                </div>
                <p>
                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                    adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
                    magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
                    exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
                    consequatur.
                </p>
                
            </div>
            <div class="comments-list hover14 column animated wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="500ms">
                <h3><a href="single.html">At vero eos et accusamus et iusto odio dignissimos ducimus qui</a></h3>
                <ul>
                    <li><class="bake"></a> <i>|</i></li>
                    <li><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>31 March 2016 <i>|</i></li>
                    <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="single.html">3 Comments</a> <i>|</i></li>
                    <li><a href="single.html"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>200 Likes</a> <i>|</i></li>
                    <li><a href="single.html"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>James Kale</a></li>
                </ul>
                <div>
                    <img src="~/images/5.jpg" alt=" " width="100%" height="100%" />
                </div>
                <p>
                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                    adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
                    magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
                    exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
                    consequatur.
                </p>
            </div>
        </div>
        <div class="col-md-4 blog-right">
            <div class="popular animated wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="500ms">
                <h3>Most Popular</h3>
                <div class="popular-grid">
                    <div class="popular-left">
                        <h4>01.</h4>
                    </div>
                    <div class="popular-right">
                        <h5><a href="single.html">deleniti atque</a></h5>
                        <p>
                            Itaque earum rerum hic tenetur a sapiente delectus, ut aut
                            reiciendis.<span>1 Month Ago...</span>
                        </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="popular-grid">
                    <div class="popular-left">
                        <h4>02.</h4>
                    </div>
                    <div class="popular-right">
                        <h5><a href="single.html">sapiente delectus</a></h5>
                        <p>
                            Itaque earum rerum hic tenetur a sapiente delectus, ut aut
                            reiciendis.<span>15 Days Ago...</span>
                        </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="popular-grid">
                    <div class="popular-left">
                        <h4>03.</h4>
                    </div>
                    <div class="popular-right">
                        <h5><a href="single.html">rerum hic tenetur</a></h5>
                        <p>
                            Itaque earum rerum hic tenetur a sapiente delectus, ut aut
                            reiciendis.<span>5 Days Ago...</span>
                        </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="subscribe animated wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="500ms">
                <h3>Subscribe</h3>
                <p>Subscribe for daily varieties of food.</p>
                <form>
                    <input type="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="categories animated wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="500ms">
                <h3>Categories</h3>
                <ul>
                    <li><a href="single.html">tenetur a sapiente delectus</a></li>
                    <li><a href="single.html">Itaque earum rerum hic tenetur</a></li>
                    <li><a href="single.html">qui dolorem eum fugiat quo</a></li>
                    <li><a href="single.html">voluptas a asperiores delectus</a></li>
                    <li><a href="single.html">perferendis doloribus repellat</a></li>
                    <li><a href="single.html">eligendi optio cumque nihil</a></li>
                </ul>
            </div>
            <div class="instagram animated wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="500ms">
                <h2>Instagram Posts</h2>
                <div class="instagram-grids">
                    <div class="instagram-grid">
                        <a href="single.html"><img src="~/images/1.jpg" alt=" " class="img-responsive" /></a>
                    </div>
                    <div class="instagram-grid">
                        <a href="single.html"><img src="~/images/2.jpg" alt=" " class="img-responsive" /></a>
                    </div>
                    <div class="instagram-grid">
                        <a href="single.html"><img src="~/images/3.jpg" alt=" " class="img-responsive" /></a>
                    </div>
                    <div class="instagram-grid">
                        <a href="single.html"><img src="~/images/4.jpg" alt=" " class="img-responsive" /></a>
                    </div>
                    <div class="instagram-grid">
                        <a href="single.html"><img src="~/images/5.jpg" alt=" " class="img-responsive" /></a>
                    </div>
                    <div class="instagram-grid">
                        <a href="single.html"><img src="~/images/1.jpg" alt=" " class="img-responsive" /></a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="tags animated wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="500ms">
                <h3>Recent Tags</h3>
                <ul>
                    <li>
                        <a href="single.html">Food</a>
                    </li>
                    <li>
                        <a href="single.html">Bread</a>
                    </li>
                    <li>
                        <a href="single.html">Restaurants</a>
                    </li>
                    <li>
                        <a href="single.html">Drinks</a>
                    </li>
                    <li>
                        <a href="single.html">Offers</a>
                    </li>
                    <li>
                        <a href="single.html">Food</a>
                    </li>
                    <li>
                        <a href="single.html">Bread</a>
                    </li>
                    <li>
                        <a href="single.html">Restaurants</a>
                    </li>
                    <li>
                        <a href="single.html">Drinks</a>
                    </li>
                    <li>
                        <a href="single.html">Food</a>
                    </li>
                    <li>
                        <a href="single.html">Bread</a>
                    </li>
                    <li>
                        <a href="single.html">Restaurants</a>
                    </li>
                    <li>
                        <a href="single.html">Drinks</a>
                    </li>
                    <li>
                        <a href="single.html">Dollars</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>